---
title: Amanda Pinsker | Designer
name: home
layout: base
image: "/img/og-img.png"
---

<div class="bg"></div>
<main class="site-container">
  <div class="home">
    <div class="intro">
      <div>
        <h1><span class="hint" title="Type my name and see what happens">Amanda</span> Pinsker</h1>—Independent product & experience designer.
      </div>
      <div>I'm available for full-time or contract work in February 2023. <a href="mailto:apinsker4@gmail.com">Reach out</a> if you'd like to work together.</div>
      <hr class="accent">
    </div>
    <div class="flex">
      <div class="work column">
        <h2>Selected work</h2>
        {% for item in site.data.portfolio %}
          {% if item.show %}
          <a class="project" id="{{ item.id }}" onmouseover="addClass(body, '{{ item.id }}');" onmouseout="removeClass(body, '{{ item.id }}');" href="{{ item.url }}">
            <b>{{ item.title }}</b>—{{ item.description }}{% if item.external%}<span class="accent external-link">&#8599;&#xFE0E;</span>{% endif %}
          </a>
          {% endif %}
        {% endfor %}

        <div class="writing-preview">
          <h2>Recent writing</h2>
            <div class="post-container">
              {% for item in site.data.writing %}
                <a
                  class="post-link
                  {% if item.published == false %} disabled {% endif %}"
                  href="/writing/{{ item.url }}"
                >
                  <b>{{ item.title }}</b>
                  <div>{{ item.description }}</div>
                </a>
              {% endfor %}
            </div>
          <a class="back" href="/writing">Read the rest <span>→</span></a>
        </div>

      </div>
      <div class="about column">
        <div class="collaborators"> 
          <h2>Recent collaborators</h2>
          <div>
            <a href="https://prose.com/">Prose</a><span class="accent external-link">&#8599;&#xFE0E;</span>
          </div>
          <div>
            <a href="https://www.ustwo.com/">ustwo</a><span class="accent external-link">&#8599;&#xFE0E;</span>
          </div>
        </div>
        <h2>A little about me</h2>
        <div>Most recently, I was a Senior Product Designer at <a href="https://github.com">GitHub</a>. I was focused on how you work with GitHub from your local machine. All of our work was <a href="http://github.com/desktop/desktop">open</a>&nbsp;<a href="http://github.com/cli/cli">source</a><span class="accent superscript" id="asterisk" onmouseover="addClass(asterisk2, 'footnote-accent');" onmouseout="removeClass(asterisk2, 'footnote-accent');">*</span>.</div>
        <div>Before that, I spent some time at <a>Upstatement</a> and <a>Ronik</a>, led the crew at <a>Scout</a>, and graduated from&nbsp;<a>Northeastern</a><span class="accent superscript" id="dagger" onmouseover="addClass(dagger2, 'footnote-accent');" onmouseout="removeClass(dagger2, 'footnote-accent');">†</span>.</div>
        <div>I grew up in the ‘burbs of New York<span class="accent superscript" id="doubledagger" onmouseover="addClass(doubledagger2, 'footnote-accent');" onmouseout="removeClass(doubledagger2, 'footnote-accent');">‡</span>, make a lot of self deprecating jokes<span class="accent superscript" id="section" onmouseover="addClass(section2, 'footnote-accent');" onmouseout="removeClass(section2, 'footnote-accent');">§</span>, and I'm notorious for being average at a thousand hobbies—most recently <strike>guitar</strike> piano, <strike>mini</strike> Monday crossword puzzles, <strike>knitting</strike> wire sculpting, and journaling.<span class="accent superscript" id="paragraph" onmouseover="addClass(paragraph2, 'footnote-accent');" onmouseout="removeClass(paragraph2, 'footnote-accent');">¶</span></div>
        <div class="notes grid">
          <span class="accent">*</span><p class="note" id="asterisk2"><span>So is <a href="https://github.com/ampinsk/ampinsk.github.io">this</a>. And it was built by moi.</span></p>
          <span class="accent">†</span><p class="note" id="dagger2"><span>Here's my <a href="/pinsker-resume-2021.pdf">resume</a> if you need it.</span></p>
          <span class="accent">‡</span><p class="note" id="doubledagger2"><span>Long Island, specifically. At least it's not Jersey.</span></p>
          <span class="accent">§</span><p class="note" id="section2"><span>I didn't get away with these as well as I'd liked on the West Coast.</span></p>
          <span class="accent">¶</span><p class="note" id="paragraph2"><span>If you've learned about me and would still like to talk to me, you can do so in these places: <a href="http://twitter.com/ampinsk">Twitter</a>, <a href="mailto:apinsker4@gmail.com">Email</a>, <a href="https://www.linkedin.com/in/amandapinsker/">LinkedIn</a>.</span></p>
          <span class="accent optically-smaller">&#8599;&#xFE0E;</span><p class="note" id="external2"><span>This means I do not have a public case study yet  and I must send you somewhere else.</span></p>
        </div>

      </div>
    </div>
  </div>
</main>
