---
---

// Import Partials
@import "mq";
@import "variables";
@import "project";
@import "reading";
@import "navigation";
@import "home";
@import "writing";
@import "easter-egg";
@import "hover";

// General Styles

body {
  font-family: $primary-font;
  background-color: $background;
  color: $foreground;
  margin: 0;
  line-height: 1.3;
  transition: $timing;
  font-size: 16px;
}

.site-container {
  width: 88%;
  margin: 0 auto;
  max-width: 1300px;
  padding: 80px 0;

  @include mq($tablet) {
    width: 72%;
  }
}

a {
  position: relative;
  color: $foreground;
  text-decoration: none;
  cursor: pointer;
  transition: $timing;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.back {
  font-size: 18px;
  font-family: $serif-text;
  text-decoration: none;

  span {
    display: inline-block;
    transition: $timing;
  }

  &:hover {
    text-decoration: none;

    span {
      transform: translateX(-5px);
      transition: $timing;
    }
  }

  @include mq($tablet) {
    margin-left: -22px;
  }
}

.disabled {
  opacity: 50%;
  pointer-events: none;
}

.third {
  @include mq($tablet) {
    display: inline-block;
    width: 33%;
  }
}

.half {
  @include mq($tablet) {
    display: inline-block;
    width: 48%;
  }
}

.full {
  width: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}



p::selection,
h6::selection,
h5::selection,
h4::selection,
h3::selection,
h2::selection,
h1::selection,
img::selection,
a::selection,
span::selection,
div::selection,
b::selection,
strike::selection {
  background: $foreground;
  color: $background;

  @media (prefers-color-scheme: dark) {
    background: $background;
    color: $foreground;
  }
}



// Dark Mode
// ---------


@media (prefers-color-scheme: dark) {
  body {
    background-color: $foreground;
    color: $background;
  }

  a {
    color: $background;
  }

  .note span  {
    box-shadow: inset 0px 0px 0px 0px darken($red, 20%);
  }

  .footnote-accent span {
    box-shadow: inset 0px -25px 0px 0px darken($red, 20%);
  }

  .project-intro .site-button {
    border-color: $background;

    &:hover {
      background: $background;
      color: $foreground;
    }
  }

  .footer {
    border-color: $background;
  }

  @keyframes easter-egg-accent {
    2%  {color: $black; border-color: $black;}
    98%  {color: $black; border-color: $black;}
  }
}
