---
---

// Import Partials
@import "mq";
@import "variables";
@import "project";
@import "reading";
@import "navigation";

// General Styles

.portfolio {
  font-family: $primary-font;
  background-color: $background;
  color: $foreground;
  margin: 0;
}

.site-container {
  width: 80%;
  padding: 0 3%;
  max-width: 1200px;
  margin: 30px auto 0;
}

a {
  position: relative;
  color: $foreground;
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.45;
}


.home {
  padding: 3% 0;

  @include mq($tablet) {
    width: 60%;
    padding: 7%;
  }

  p {
    font-size: 18px;
    line-height: 1.6;

    @include mq($tablet) {
      font-size: 22px;
    }
  }

  a {
    font-family: $serif;
    font-style: italic;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    line-height: 0;

    &:hover {
      color: $highlight;
    }

    @include mq($tablet) {
      font-size: 24px;
    }
  }

  h1 {
    font-size: 30px;
    margin-bottom: 5px;

    @include mq($tablet) {
      font-size: 36px;
    }
  }

  h2 {
    font-size: 30px;
    font-family: $serif;
    font-weight: normal;
    margin-bottom: 50px;

    @include mq($tablet) {
      font-size: 36px;
    }
  }

  h6 {
    font-size: 13px;
    margin-top: 20px;
  }

  .aside {
    color: lighten($black, 40%);
  }
}




section {
  margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h3, h4, h5 {
  font-weight: 300;
}

p::selection,
h6::selection,
h5::selection,
h4::selection,
h3::selection,
h2::selection,
h1::selection,
img::selection,
a::selection,
span::selection {
  background: $teal;
}

.monospace {
  font-family: $monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
}
