---
---

// Import Partials
@import "mq";
@import "variables";
@import "project";
@import "reading";
@import "navigation";
@import "home";

// General Styles

body {
  font-family: $primary-font;
  background-color: $background;
  color: $foreground;
  margin: 0;
  line-height: 1.3;
  transition: $timing;
  font-size: 20px;
}

.site-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1300px;
}

a {
  position: relative;
  color: $foreground;
  text-decoration: none;
  cursor: pointer;
  transition: $timing;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.back {
  font-size: 18px;
  font-family: $serif-text;
  text-decoration: none;
  display: inline-block;

  &:hover {
    transform: translateX(-5px) !important;
    text-decoration: none;
  }
}


p::selection,
h6::selection,
h5::selection,
h4::selection,
h3::selection,
h2::selection,
h1::selection,
img::selection,
a::selection,
span::selection,
div::selection,
b::selection {
  background: $foreground;
  color: $background;
}
