---
title: Amanda Pinsker | Designer
name: Museum Capstone
type: project
layout: base
---


<section class='site-container'>
    {% include navigation.html %}
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/museum1.png"/>
        </div>
        <div class="project_text-container col4">
            <h3 class="project_subhead">Background</h3>
            <p class="project_text">I am currently working on my Senior Capstone project with 4 other students. We identified this problem area as a shared interest and spent the majority of last semester (Sept '16–Dec '16) on research. The final deliverable of our research last semester was a proof of concept. This semester, we're iterating on and testing our work so far to build a final prototype.</p>
        </div>
        <div class="project_text-container col4">
            <h3 class="project_subhead">Project Goals</h3>
            <p class="project_text">To create a memorable and accessible experience for novice visitors that creates interest and conversation between visitors and the museum itself. </br>
            <div>
            <strong>How might we...</strong></p>
            <ul>
                <li>bridge the gap between physical and digital?</li>
                <li>support different interests of different visitors?</li>
                <li>support flexible decision making?</li>
                <li>create emotional/personal connections between museum goers and artifacts?</li>
                <li>add context to the content?</li>
                <li>encourage sharing?</li>
            </ul></div>
        </div>

        <div class="project_text-container col4">
            <h3 class="project_subhead">Audience</h3>
            <p class="project_text">Based on academic papers we sourced, we identified our main audience as low-involvement museum visitors. We broke those people down into a few different segments.
            <p class="project_text col12">
                <strong>First time visitors</strong></br>
                Tourist</br>
                New local</p>
            <p class="project_text col12">
                <strong>Repeat visitors</strong></br>
                Student</br>
                Experience seeker</br>
                Recharger</br>
                Specialist</p>
            <p class="project_text col12">
                <strong>Facilitator</strong></br>
                Parent/Child</br>
                Teacher/Student</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/museum2.jpg"/>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/museum3.jpg"/>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/museum4.jpg"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Brainstorming</h3>
            <p class="project_text col4">First, we filled out empathy maps for three audiences: Museum Goers, Curators and Museum Owners. A big takeaway from this exercise is that we needed to understand the museum’s perspective more.</p>
            <p class="project_text col4">After, we brainstormed How Might We’s. We picked out the problems we were most interested in and put them into buckets: How might we give visitors the confidence to not understand everything? How might we give visitors a tailored, meaningful experience? How might we measure our effectiveness?</p>
            <p class="project_text col4">Using these prompts, we brainstormed quick ideas for solutions. Looking back, a lot of our ideas from this brainstorming session made their way into our MVP.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/museum5.png"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Professional Interviews</h3>
            <p class="project_text col4">Based on our exercise, we realized we needed to understand the museum's point of view more, so we set up interviews with professionals who worked with or at these organizations. These interviews were to empathize with a new audience, but we were also looking to potentially partner with a museum to execute the project.</p>
            <p class="project_text col4">At this point in our process, we were considering many avenues for a final product and deciding whether we wanted to partner with a local museum, use a space at Northeastern, or create a pop-up museum that explored our ideas. We decided to pursue a partnership because we thought that although we would need to deal with museum bureaucracy, it would give us the best opportunity to deal with space and a large collection of work. We were originally most interested in the MFA due to its proximity, traditional space, large collection, and it was a good example of the problems we identified.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/museum6.png"/>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Proof of Concept</h3>
            <p class="project_text ">After we knew the MFA wouldn’t be a viable partnership, we decided to pursue a mobile app. By working with this platform instead of working with large screens or installations, we will not need to worry about our work becoming rapidly obsolete, and our solution can easily extend to other museums. Additionally, our work can be easily created and implemented, allowing us to quickly learn from feedback and create improvements. Over about 3 weeks, we established the information architecture, sketched wireframes and started preliminary designs.</p>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Harvard Art Museums</h3>
            <p class="project_text">Near the end of last semester, we met with the Harvard Art Museums and are moving forward with using their API and designing the experience around their space. </p>
        </div>
    </section>
</section>
<img class="project_img" src="/img/full/museum7.png"/>

<section class="site-container">
    <section class="project-section">
        <div class="project_text-container col12">
            <h3 class="project_subhead">UI Design & Testing</h3>
            <p class="project_text col4">Currently, we are iterating on what we have, user testing, refining features and digging deeper into visual design.</p>
        </div>
    </section>



    {% include footer.html %}
</section>
