---
title: Amanda Pinsker | Designer
name: Museum Capstone
type: project
layout: base
---


<section class='site-container'>
    {% include navigation.html %}
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/museum1.png"/>
        </div>
        <div class="project_text-container col6">
            <h3 class="project_subhead">Background</h3>
            <p class="project_text">A team of four students (Emily O'Brien, Evan McEldowney, Alice Young and Beatrice Huang) and I set out to explore the question: How might we create a memorable and accessible experience for novice visitors that creates interest and conversation between visitors and the museum itself?</p>

            <div>
            <strong>How might we...</strong></p>
            <ul>
                <li>bridge the gap between physical and digital?</li>
                <li>support different interests of different visitors?</li>
                <li>support flexible decision making?</li>
                <li>create emotional/personal connections between museum goers and artifacts?</li>
                <li>add context to the content?</li>
                <li>encourage sharing?</li>
            </ul></div>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Audience</h3>
            <p class="project_text">Based on academic papers we sourced, we identified our main audience as low-involvement museum visitors. We broke those people down into a few different segments.
            <p class="project_text col12">
                <strong>First time visitors</strong></br>
                Tourist</br>
                New local</p>
            <p class="project_text col12">
                <strong>Repeat visitors</strong></br>
                Student</br>
                Experience seeker</br>
                Recharger</br>
                Specialist</p>
            <p class="project_text col12">
                <strong>Facilitator</strong></br>
                Parent/Child</br>
                Teacher/Student</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/museum2.jpg"/>
            <img class="project_img" src="/img/full/museum3.jpg"/>
            <img class="project_img" src="/img/full/museum4.jpg"/>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Brainstorming</h3>
            <p class="project_text">First, we filled out empathy maps for three audiences: Museum Goers, Curators and Museum Owners. A big takeaway from this exercise is that we needed to understand the museum’s perspective more.</p>
            <p class="project_text">After, we brainstormed How Might We’s. We picked out the problems we were most interested in and put them into buckets: How might we give visitors the confidence to not understand everything? How might we give visitors a tailored, meaningful experience? How might we measure our effectiveness?</p>
            <p class="project_text">Using these prompts, we brainstormed quick ideas for solutions. Looking back, a lot of our ideas from this brainstorming session made their way into our MVP.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/museum5.png"/>
        </div>
        <div class="project_text-container col6">
            <h3 class="project_subhead">Professional Interviews</h3>
            <p class="project_text ">Based on our exercise, we realized we needed to understand the museum's point of view more, so we set up interviews with professionals who worked with or at these organizations. These interviews were to empathize with a new audience, but we were also looking to potentially partner with a museum to execute the project.</p>
            <p class="project_text">At this point in our process, we were considering many avenues for a final product and deciding whether we wanted to partner with a local museum, use a space at Northeastern, or create a pop-up museum that explored our ideas. We decided to pursue a partnership because we thought that although we would need to deal with museum bureaucracy, it would give us the best opportunity to deal with space and a large collection of work. We were originally most interested in the MFA due to its proximity, traditional space, large collection, and it was a good example of the problems we identified.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/museum6.png"/>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Proof of Concept</h3>
            <p class="project_text ">After we knew the MFA wouldn’t be a viable partnership, we decided to pursue a mobile app. By working with this platform instead of working with large screens or installations, we will not need to worry about our work becoming rapidly obsolete, and our solution can easily extend to other museums. Additionally, our work can be easily created and implemented, allowing us to quickly learn from feedback and create improvements. Over about 3 weeks, we established the information architecture, sketched wireframes and started preliminary designs.</p>
        </div>

        <div class="project_text-container col6">
            <h3 class="project_subhead">Harvard Art Museums</h3>
            <p class="project_text">About halfway through the project, we met with the Harvard Art Museums and decided to move forward with using <a href="https://www.harvardartmuseums.org/collections/api">their open API</a> and designing the experience around their space. </p>
        </div>
    </section>
</section>
<img class="project_img" src="/img/full/museum7.png"/>

<section class="site-container">
    <section class="project-section">
        <div class="project_text-container col6">
            <h3 class="project_subhead">Implementation</h3>
            <p class="project_text col12">Once we decided on this direction, we designed the prototype iteratively based on in-person testing at the museum itself. Some ideas we explored in this phase included:</p>
            <p class="project_text col12"><strong>Beacon technology</strong> — We explored placing beacons in the space to power experiences like letting users explore art near them in place</p>
            <p class="project_text col12"><strong>Color based tours</strong> — Using the Harvard Art Museums' robust API, we could use their data to make unique kinds of tours.</p>
            <p class="project_text col12"><strong>Creating your own tours</strong> — By simply letting users select from a list of works on view, then ordering those by room, we could easily create custom tours.</p>
            <p class="project_text col12"><strong>Audio-based experience</strong> — Utilizing the beacon technology, we also began exploring voice and music based experiences that wouldn't require looking at your phone.</p>
            <p class="project_text col12">In the end, the project won the Humanities & Arts award at <a href="https://www.northeastern.edu/rise/">Northeastern’s Research, Innovation, and Science Exposition (RISE).</a></p>
        </div>
    </section>



    {% include footer.html %}
</section>
