---
title: Amanda Pinsker | Books
name: books
layout: books
permalink: books
---

  <div class="books-nav">
    <a href="/">Back</a>
  </div>

<section class="books-container">
  <h1 class="book-title book-scroll">Things I've read <span>and where I read them<a href="#hey">*</a></span></h1>

  {% for item in site.data.books %}
    <div class="book" id="{{ item.url }}">
      <a href="#{{ item.url }}"><h2 class="date book-scroll">{{ item.date }}<div class="h5 book-scroll">{{ item.place }}</div></h2></a>
      <span class="pic-container">
        <img class="book-img book-scroll" src="{{ item.book_img }}" />
        <img class="pic-img book-scroll" src="{{ item.pic_img }}" />
      </span>

      <span class="info">
        <h3 class="author book-scroll">{{ item.author }}</h3>
        <h2 class="title book-scroll">{{ item.title }}</h2>
        <p class="description book-scroll"> {{ item.description }}</p>
        {% if item.highlight %}
          <span class="highlight book-scroll no-quote">
            <h5>Underlined</h5>
            <h6>{{ item.highlight }}</h6>
          </span>
        {% endif %}

      </span>


    </div>
  {% endfor %}
</section>

<div id="hey">* Are these dates real? Are these locations real? Who cares? Why did you even click on this? Go <a href="/books">get back</a> to what you were doing.</div>

</section>
