$beige: #f7eddd;
$beige-gray: #888073;

.books {
  font-family: $sans;
  background: $black;
  margin: 0;
  color: $black;
}

.books-container {
  background: $beige;
  margin: 30px;
  padding: 12% 2% 12% 23%;
}

.book-title {
  font-size: 86px;
  line-height: 1.1;
  font-family: $sans2;

  span {
    color: $beige-gray;
    font-style: normal;
  }
}

.book {
  margin-bottom: 50px;
  font-family: $sans2;

  .date {
    font-size: 40px;
    font-family: $expanded;
    padding: 100px 0 40px 0;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .title {
    font-weight: 700;
  }

  .place {
    font-weight: 300;
    color: $gray-dark;
  }

  .info {
    font-family: $sans2;
    display: inline-block;
    vertical-align: top;
    padding: 60px 0 0 80px;
    max-width: 50%;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 330px;
    box-shadow: rgba(60,60,60,0.2) 6px 6px 24px;
  }

  .pic-container {
    position: relative;
    display: inline-block;

    &:hover .pic-img {
      z-index: 100;
    }
  }

  .pic-img {
    position: absolute;
    top: 0;
    left: -360px;
  }

  .highlight {
    display: inline-block;
    width: 270px;
    padding: 40px 40px 0 0;
  }

  .author {
    font-family: $expanded;
    font-size: 12px;
    margin-bottom: 2px;
    display: none;
  }

  h5, .h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: $expanded;
    margin: 10px 0;
  }

  h6 {
    font-size: 12px;
    position: relative;

    &:before {
      content: "“";
      position: absolute;
      font-size: 30px;
      top: -0.3em;
      left: -0.7em;
      font-family: $expanded;
      color: $beige-gray;
    }
  }
}

#hey {
  padding: 0 30px 30px;
  font-size: 12px;
  color: $beige-gray;

  a {
    color: $beige;
  }
}

.books h1::selection,
.books h2::selection,
.books h3::selection,
.books h4::selection,
.books h5::selection,
.books h6::selection,
.books p::selection,
.books span::selection {
  background: $black;
  color: $beige;
}


.books-nav {
  position: absolute;
  top: 6px;
  left: 30px;
  font-size: 12px;
  font-family: $sans2;
  font-weight: bold;

  a {
    margin-left: 0;
    color: $beige-gray;
    transition: $timing;
  }

  a:hover {
    color: $beige;
    transition: $timing;
  }
}
