.books {
  padding: 100px 5%;
}

.book-title {
  font-size: 72px;
  line-height: 1.1;
  font-family: $sans2;

  span {
    color: $gray-dark;
    font-style: normal;
  }
}

.book {
  margin-bottom: 50px;
  font-family: $sans2;

  .date {
    font-size: 40px;
    font-family: $expanded;
    padding: 100px 0 25px 0;
    margin-left: -100px;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .title {
    font-weight: 700;
  }

  .place {
    font-weight: 300;
    color: $gray-dark;
  }

  .info {
    font-family: $sans2;
    display: inline-block;
    vertical-align: top;
    padding: 50px 0 0 50px;
    max-width: 50%;
  }

  p {
    font-size: 18px;
  }

  img {
    width: 315px;
    box-shadow: rgba(60,60,60,0.2) 6px 6px 24px;
  }

  .pic-container {
    position: relative;

    &:hover .pic-img {
      z-index: 100;
    }
  }

  .pic-img {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -100;
  }

  .highlight {
    display: inline-block;
    width: 270px;
    padding: 40px 40px 0 0;
  }

  .author {
    font-family: $expanded;
    font-size: 12px;
    margin-bottom: 2px;
    display: none;
  }

  h5, .h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: $expanded;
    margin: 10px 0;
  }

  h6 {
    font-size: 12px;
    position: relative;

    &:before {
      content: "“";
      position: absolute;
      font-size: 30px;
      top: -0.3em;
      left: -0.7em;
      font-family: $expanded;
      color: $gray-dark;
    }
  }
}

#hey {
  padding: 20px;
  font-size: 12px;
  color: $gray-dark;
}
