.books {
  padding: 100px 5%;
}


.book-title {
  font-size: 72px;
  line-height: 1.1;
  font-family: $sans2;
  font-weight: bold;

  span {
    color: $gray-dark;
    font-style: normal;
  }
}

.book {
  margin-bottom: 50px;
  font-family: $sans2;

  .date {
    font-size: 40px;
    font-family: $expanded;
    padding: 100px 0 25px 0;
    margin-left: -100px;
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;
  }

  .title {
    font-weight: 700;
  }

  .place {
    font-weight: 300;
    color: $gray-dark;
  }

  .info {
    font-family: $sans2;
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    max-width: 475px;
  }

  .description {

  }



  img {
    width: 230px;
  }


  .book-img {
    width: 315px;
  }

  .pic-container {
    position: relative;

    &:hover .pic-img-2 {
      z-index: 100;
    }
  }

  .pic-img {
    margin-top: 20px;
  }

  .pic-img-2 {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -100;
    width: 315px;
  }

  .left {
    display: inline-block;
    width: 315px;
  }
  .highlight {
    display: inline-block;
    width: 270px;
    padding: 40px 40px 0 0;

  }

  .author {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 2px;
  }

  h5 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: $expanded;
    margin: 10px 0;
  }

  h6 {
    font-size: 12px;
    position: relative;

    &:before {
      content: "“";
      position: absolute;
      font-size: 30px;
      top: -0.3em;
      left: -0.7em;
      font-family: $expanded;
      color: $gray-dark;
    }
  }


}

#hey {
  padding: 20px;
  font-size: 12px;
  color: $gray-dark;
}
