// Home page

.home {
  padding: 4% 0;
  width: 92%;
  font-size: $primary-font-size;
  line-height: 1.15;

  p {
    font-size: $primary-font-size;
    margin: 25px 0;
  }

  a {
    font-weight: 700;
  }

  h1 {
    font-size: $primary-font-size;
    display: inline;
  }

  h2 {
    font-size: $primary-font-size;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 25px;
  }
}


.content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.column {
  width: 48%;
}

.project {
  padding-bottom: 25px;
  cursor: pointer;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 104%;
    height: 0px;
    background: transparent;
    border: 1px solid transparent;
    z-index: -1;
    top: 50%;
    left: -6%;
    transition: $timing;
  }

  &:hover:after {
    height: 104%;
    top: -8%;
    transition: $timing;
  }
}

.footnote {
  vertical-align: super;
  font-size: 22px;
  color: $red;
}

// HOVER STYLES

$purple: #6134EC;
$desktop-gray: #24292e;
$experiments: #f97583;

body.hovered1 {
  color: $purple;

  a {
    color: $purple;
  }

  .project:hover {
    // color: white !important;

    &:after {
      border: 1px solid $purple;
    }
  }
}

body.hovered2 {
  background-color: $desktop-gray;
  background-image: url(https://desktop.github.com/images/star-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white !important;

  a {
    color: white;
    transition: $timing;
  }

  .project:hover {

    &:after {
      border: 1px solid white;
    }
  }
}

body.hovered3 {
  background: black;
  color: $experiments;

  a {
    color: $experiments;
    transition: $timing;
  }

  .project:hover {

    &:after {
      border: 1px solid $experiments;
    }
  }
}

body.hovered4 {
  color: $white;
  background-color: #3E6939;
  background-image: url(img/snake-bg.png);
  mix-blend-mode: multiply;
  background-size: cover;

  a {
    color: $white;
    transition: $timing;
  }

  .project:hover {

    &:after {
      border: 1px solid $white;
      // background: rgba(0,0,0,.5);
    }
  }

}

body.hovered5 {
  background: $beige;
  box-shadow: inset 0px 0px 0px 20px $black;

  .project:hover {

    &:after {
      border: 1px solid $black;
    }
  }
}
