// HOME PAGE

// Base home styles

.home {
  padding: 5% 0;
  font-size: $primary-font-size;
  line-height: 1.15;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include mq($tablet) {
    flex-direction: row;
  }

  a {
    font-weight: 700;
  }

  h2 {
    font-size: $primary-font-size;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 30px;
  }

  .column {
    width: 100%;

    @include mq($tablet) {
      width: 46%;
    }
  }
}

.accent, .accent a {
  color: $red;
  transition: $timing;
  cursor: cell;
}

.external-link {
  font-size: $f2;
  vertical-align: baseline;
}

.about {
  div {
    margin-bottom: 30px;
  }
}

a:hover {
  text-decoration: underline;
}

.superscript {
  vertical-align: super;
  font-size: $f3;
}

.note {
  font-family: $serif-text;
  margin: 0;
  line-height: 1.4;
  font-size: $f5;
}

.grid {
  display: grid;
  grid-template-columns: 10px 1fr;
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  align-items: start;
}

// Projects

a.project {
  padding-bottom: 30px;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  display: block;
  text-decoration: none;

  &:after {
    content: "";
    position: absolute;
    width: 108%;
    height: 0px;
    background: transparent;
    border: 1px solid transparent;
    z-index: -1;
    top: 50%;
    left: -4%;
    transition: $timing;
  }

  &:hover:after {
    height: 102%;
    top: -12%;
    transition: $timing;
  }
}

// HOVER STYLES

$purple: #6134EC;
$gh-gray: #24292e;
$pink: #f97583;
$gh-black: #0D0D0D;
$blue: #2188FF;
$baudelaire-green: #3E6939;
$tan: #C2B2B4;
$mauve: #DD7373;
$new-gray: #3B3561;

body.kleo {
  $foreground: white;
  $accent: $black;

  background: $purple;
  color: $foreground;

  a {
    color: $foreground;
  }

  .project {
    &:hover:after {
      border: 1px solid $foreground;
    }
  }

  .accent {
    color: $accent;
  }
}

body.cli {
  $foreground: white;
  $accent: yellow;

  background: $new-gray;
  color: $foreground;

  a {
    color: $foreground;
  }

  .project {
    &:hover:after {
      border: 1px solid $foreground;
    }
  }

  .accent {
    color: $accent;
  }
}

body.desktop {
  $foreground: $white;
  $accent: $pink;

  // background: url(https://desktop.github.com/images/star-bg.svg) 0 0/cover no-repeat $gh-gray;
  background: $mauve;
  color: $foreground;

  a {
    color: $foreground;
  }

  .project {
    &:hover:after {
      border: 1px solid $foreground;
    }
  }

  .accent {
    color: $accent;
  }
}

body.experiments {
  $foreground: $white;
  $accent: $pink;
  $tertiary: $blue;

  background: url(img/experiments-bg.png) 0 0/cover no-repeat $gh-black;
  color: $foreground;

  a {
    color: $foreground;
  }

  .project:hover {

    &:after {
      border: 1px solid $accent;
      background: $accent;
    }
  }

  .accent {
    color: $tertiary;
  }
}

body.baudelaire {
  $foreground: $white;
  $accent: $black;

  color: $foreground;
  background: url(img/snake-bg.png) 0 0/cover no-repeat $baudelaire-green;

  a {
    color: $foreground;
  }

  .project {
    &:hover:after {
      border: 1px solid $accent;
    }
  }

  .accent {
    color: $accent;
  }

}

body.read {
  background: $tan;
  box-shadow: inset 0px 0px 0px 20px $black;

  .project {
    &:hover:after {
      border: 1px solid $beige-gray;
    }
  }
}
