.case-study .project-intro {
  margin: 120px 0 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 72px;
  line-height: 1;
  flex-direction: column;

  @include mq($tablet) {
    flex-direction: row;
    align-items: flex-end;
  }

  .back {
    @include mq($tablet) {
      margin-left: -22px;
    }
  }

  .site-button {
    font-family: $serif;
    font-size: 22px;
    padding: 14px;
    border: 1px solid $black;
    text-decoration: none;
    margin-top: 42px;

    @include mq($tablet) {
      flex-shrink: 0;
      margin: 0;
    }

    &:hover {
      color: $white;
      background: $black;
    }
  }
}

.case-study-content {
  font-family: $serif-text;

  p, h1, h2, h3, li, a {
    @include mq($tablet) {
      width: 70%;
      margin-left: auto;
    }
  }

  p {
    margin-top: 25px;
  }

  h1 {
    font-family: $serif;
    font-size: 48px;
    margin-top: 52px;
    font-weight: 400;
  }

  h3 {
    font-family: $serif-text;
    font-size: 20px;
    margin-top: 52px;
  }

  h6 {
    font-weight: 400;
    color: $gray-dark;
    font-style: italic;
  }

  img {
    width: 100%;

    @include mq($tablet) {
      margin-top: 52px;
    }
  }

  p.third {
    @include mq($tablet) {
      display: inline-block;
      width: 30%;
      padding: 0 5px;
    }
  }

  p.half {
    @include mq($tablet) {
      display: inline-block;
      width: 48%;
    }
  }

  p.full {
    width: 100%;
  }

  p.right {
    float: right;
  }
}
