.project-intro {
  margin-bottom: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 45px;
  line-height: 1;
  flex-direction: column;

  @include mq($tablet) {
    margin-bottom: 80px;
    flex-direction: row;
    align-items: flex-end;
    font-size: 72px;
  }

  .back {
    @include mq($tablet) {
      margin-left: -22px;
    }
  }

  .site-button {
    font-family: $serif;
    font-size: 22px;
    padding: 14px;
    border: 1px solid $black;
    text-decoration: none;
    margin-top: 42px;

    @include mq($tablet) {
      flex-shrink: 0;
      margin: 0;
    }

    &:hover {
      color: $white;
      background: $black;
    }
  }
}

.case-study-content {
  font-family: $serif-text;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  p, h1, h2, h3, ul, ol, a {
    @include mq($tablet) {
      width: 64%;
      margin-left: auto;
    }
  }

  p {
    margin-top: 25px;
  }

  h1 {
    font-family: $serif;
    font-size: 48px;
    margin-top: 52px;
    font-weight: 400;
    line-height: 1.05;
  }

  h3 {
    font-family: $serif-text;
    font-size: 20px;
    margin-top: 52px;
  }

  h6 {
    font-weight: 400;
    color: $gray-dark;
    font-style: italic;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 100%;

    @include mq($tablet) {
      margin-top: 52px;
    }
  }

  p.third {
    @extend .third;
    margin-left: 0;
  }

  p.half {
    @extend .half;
    margin-left: 0;
  }

  p.full {
    @extend .full;
  }

  p.right {
    @extend .right;
  }

  blockquote {
    width: 70%;
    font-style: italic;
    border-left: 1px solid black;
    padding: 0;
    margin-left: auto;
    margin-right: 0;

    p {
      margin: 0;
      padding-left: 40px;
      width: auto;
    }
  }


}
