.project-intro {
  margin: 140px 0;

  h1 {
    font-family: $sans-text;
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: $serif-text;
    font-style: italic;
  }
  a {
    font-size: 15px;
    font-family: $serif-text;
    margin-left: -17px;
    text-decoration: none;

    &:hover {
      color: $red;
    }
  }
}

.project-section {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  h1, h2, h3, strong {
    font-family: $sans-text;
  }
}

.project_img {
  width: 100%;
  margin-top: 20px;
}

.project_img-container {
  margin: 0 0 20px 0;
  position: relative;
}

.col1 {
  width: 100%;
  @include mq($mobile) {
    width: 7%;
  }
}

.col2 {
  width: 100%;
  @include mq($mobile) {
    width: 15%;
  }
}
.col3 {
  width: 100%;
  @include mq($mobile) {
    width: 23%;
  }
}

.col4 {
  width: 100%;
  @include mq($mobile) {
    width: 28%;
  }
}

.col5 {
  width: 100%;
  @include mq($mobile) {
    width: 39%;
  }
}

.col6 {
  width: 100%;
  @include mq($mobile) {
    width: 47%;
  }
}

.col7 {
  width: 100%;
  @include mq($mobile) {
    width: 55%;
  }
}

.col8 {
  width: 100%;
  @include mq($mobile) {
    width: 63%;
  }
}

.col9 {
  width: 100%;
  @include mq($mobile) {
    width: 71%;
  }
}

.col10 {
  width: 100%;
  @include mq($mobile) {
    width: 79%;
  }
}

.col11 {
  width: 100%;
  @include mq($mobile) {
    width: 87%;
  }
}

.col12 {
  width: 100%;
}

.project_img-caption {
  position: relative;
  font-family: $monospace;
  font-size: 12px;
  margin: 2px 0 20px;
  border-top: $border-thin;
  width: 200px;
}

.project_subhead {
  font-weight: 700;
  font-size: 25px;
}

.project_text-container {
  margin: 40px 0;
}

.project_text {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  font-family: $serif-text;
}

.project_text a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

}



.project_text-container--half {
  width: 100%;

  @include mq($mobile) {
    width: 46%;
  }
}

.project_text-container--blurr {
  position: relative;
  // right: 0;

  @include mq($mobile) {
    position: absolute;
    right: 0;
  }
}

.project-section ul {
  @extend .project_text;
  @extend p;

}


.table-of-contents {
  list-style: none;

  li {
    counter-increment: item;
    margin-bottom: 8px;
    font-size: 15px;

    &:before {
      margin-right: 10px;
      content: counter(item);
      background: $black;
      border-radius: 100%;
      color: $white;
      width: 1.2em;
      text-align: center;
      display: inline-block;
      transition: $timing;
      font-size: 12px;
      padding: 3px;
    }

    &:hover:before {
      background: $red;
      transition: $timing;
    }
  }
}
