.reading-html,
.reading {
  overflow-x: hidden;
  max-width: 100%;
}

.reading {
  font-family: $sans2;
  background: $black;
  margin: 0;
  color: $black;
  font-weight: 400;

  a:hover {
    text-decoration: none;
  }
}

.reading-container {
  background: $beige;
  margin: 15px;
  padding: 80px 7% 30px;

  @include mq($phablet) {
    padding: 12% 4% 12% 23%;
    margin: 40px;
  }
}

.book-title {
  font-size: 48px;
  line-height: 1.1;
  font-family: $sans2;

  span {
    color: $beige-gray;
    font-style: normal;
    font-weight: 400;
  }

  @include mq($phablet) {
    font-size: 86px;
  }
}

.book {
  margin-bottom: 50px;
  font-family: $sans2;
  line-height: 1.45;

  .date {
    font-size: 25px;
    font-family: $expanded;
    font-weight: 700;
    padding: 80px 0 40px 0;

    @include mq($phablet) {
      font-size: 40px;
      padding: 100px 0 40px 0;
    }
  }

  h2 {
    font-size: 32px;
    line-height: 1.2;

    span {
      font-weight: 400;
      color: $beige-gray;
    }
  }

  .title {
    font-weight: 700;
  }

  .place {
    font-weight: 300;
    color: $gray-dark;
  }

  .info {
    font-family: $sans2;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-top: 10%;

    @include mq($desktop) {
      padding: 60px 0 0 80px;
      max-width: 45%;
    }
  }

  p {
    font-size: 16px;
    margin-top: 20px;
  }

  img {
    width: 62%;
    box-shadow: rgba(60,60,60,0.2) 6px 6px 24px;

    @include mq($phablet) {
      width: 330px;
    }
  }

  .pic-container {
    position: relative;
    display: inline-block;
  }

  .pic-img {
    margin-left: 10px;
    position: absolute;
    top: 0;

    @include mq($phablet) {
      left: -360px;
    }
  }

  .highlight {
    display: inline-block;
    max-width: 350px;
    padding-top: 30px;
  }

  h5, .h5 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: $expanded;
    margin: 14px 0;
  }

  h6 {
    font-size: 12px;
    position: relative;
    font-weight: 400;
    margin-bottom: 14px;

    &:before {
      content: "“";
      position: absolute;
      font-size: 24px;
      top: -0.2em;
      left: -0.8em;
      font-family: $expanded;
      font-weight: 700;
      color: $beige-gray;
    }
  }
}

#hey {
  padding: 5px 15px 20px;
  font-size: 12px;
  color: $beige-gray;

  a {
    color: $beige;
  }

  @include mq($phablet) {
    padding: 0 40px 40px;
  }
}

.reading h1::selection,
.reading h2::selection,
.reading h3::selection,
.reading h4::selection,
.reading h5::selection,
.reading h6::selection,
.reading p::selection,
.reading span::selection {
  background: $black;
  color: $beige;
}


.reading-nav {
  position: absolute;
  top: 20px;
  left: 22px;
  font-size: 12px;
  font-family: $sans2;
  font-weight: bold;

  a {
    margin-left: 0;
    color: $beige-gray;
    transition: $timing;
  }

  a:hover {
    color: $beige;
    transition: $timing;
  }

  @include mq($phablet) {
    top: 12px;
    left: 40px;
  }
}
