// Colors
$white: #fafafa;
$beige: #f9e3ba;
$teal: #71AFA3;
$light-teal: #AFDFD9;
$black: #130422;
$gray: #CCCCCC;
$gray-medium: #9ca0a0;
$gray-dark: #797474;
$red: #DA131F;
$blue: #1212e1;
$beige: #f7eddd;
$beige-gray: #888073;

// Spacing
$spacing-med: 30px;
$spacing-lg: 40px;

// Breakpoints
$desktop: 1150px;
$tablet: 850px;
$phablet: 700px;
$mobile: 540px;


// Type
$monospace: 'Roboto Mono', monospace;

$sans-display: neue-haas-grotesk-display, sans-serif;
$sans-text: neue-haas-grotesk-text, sans-serif;
$serif: miller-headline, jaf-lapture, serif;
$serif-text: miller-text, serif;

$expanded: 'BioRhyme Expanded', serif;
$inknut: "Inknut Antiqua";
$sans2: "poppins";


// Misc
$border-thick: 2px solid $black;
$border-thin: 1px solid $gray;
$shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
$timing: 0.2s ease;
$timing-cubic: 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
$timing-slow: 0.5s ease;

// Type scale
$f1: 40px;
$f2: 32px;
$f3: 24px;
$f4: 18px;
$f5: 14px;
$f6: 12px;

.optically-smaller {
  font-size: 80%;
  vertical-align: middle;
}

// ---
// Applications
$background: $white;
$foreground: $black;
$primary-font: $serif;
$secondary-font: $sans-text;
$primary-font-size: $f1;
$secondary-font-size: $f5;
$highlight: $red;
