$white: rgb(245, 245, 245);
$teal: #71AFA3;
$light-teal: #AFDFD9;
$black: #032122;
$gray: #CCCCCC;

$spacing-med: 30px;
$spacing-lg: 40px;

$desktop: 1150px;
$tablet: 850px;
$phablet: 700px;
$mobile: 540px;

$monospace: 'Roboto Mono', monospace;
$sans: 'Karla', sans-serif;

$border-thick: 2px solid $black;
$border-thin: 1px solid $gray;

$timing: 0.2s ease;