// Writing landing page

$entry-size: 60px;
$entry-height: $entry-size * 1.55;
$entry-middle: $entry-height / 2;

.writing-listing {
  padding: 20%;
  text-align: center;
  font-family: $serif;
  text-transform: uppercase;
  letter-spacing: 1px;

  ol {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: $entry-size;
    position: relative;

    &:hover {
      transition: 0.3s ease;
      text-decoration: none;
    }

    &:hover a {
      color: $foreground;

      @media (prefers-color-scheme: dark) {
        color: $background !important;
      }
    }

    &:after {
      width: 104%;
      content: "";
      height: 0;
      background-color: $background;
      position: absolute;
      top: $entry-middle;
      left: -2%;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover:after {
      height: $entry-height;
      top: 0px;
      transition: 0.2s ease;
    }

    a {
      @media (prefers-color-scheme: dark) {
        color: $background !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $background;
  }
}

// one
