// Writing landing page

$entry-size: 36px;
$entry-height: $entry-size * 2 * 1.55;
$entry-middle: $entry-height / 2;

.writing {
  font-family: $serif;
  padding: 80px 0;
  font-size: $entry-size;
  display: flex;
  justify-content: space-between;

  .head {
    margin-top: 48px;
  }

  .head a {
    font-family: $serif-text;
    font-size: 18px;
    margin-left: -26px;
  }

  h1 {
    font-size: 200px;
    font-weight: normal;
    line-height: .8;
  }

  h4 {
    font-weight: normal;
  }

  p {
    font-family: $serif-text;
    font-size: 18px;
    padding-top: 16px;
  }

  h5 {
    font-size: 14px;
    vertical-align: baseline;
    font-family: $serif-text;
    font-weight: normal;
    padding-top: 8px;
  }

  .disabled {
    opacity: 50%;
    pointer-events: none;
  }

  article {
    display: inline-block;
    position: relative;
    margin-bottom: 60px;
    width: 400px;

    &:hover {
      transition: 0.3s ease;
      text-decoration: none;
    }

    &:hover a {
      color: $background;

      @media (prefers-color-scheme: dark) {
        color: $foreground !important;
      }
    }

    &:after {
      width: 104%;
      content: "";
      height: 0;
      background-color: $foreground;
      position: absolute;
      top: $entry-middle;
      left: -2%;
      z-index: -1;
      transition: 0.2s ease;

      @media (prefers-color-scheme: dark) {
        background-color: $background !important;
      }
    }

    &:hover:after {
      height: $entry-height;
      top: -5px;
      transition: 0.2s ease;
    }

    a {
      text-decoration: none;

      @media (prefers-color-scheme: dark) {
        color: $background !important;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    color: $background;
  }

  .column {
    width: 100%;

    @include mq($tablet) {
      width: 40%;
    }
  }

  .posts {
    margin-top: 142px;
  }
}

// one

.post {
  padding: 0 15%;
}

.post-content {
  font-family: $serif-text;

  p {
    margin: 25px 0;
  }

  h1 {
    font-family: $serif;
    font-size: 72px;
    margin-bottom: 42px;
    font-weight: 400;
    line-height: 1.05;
  }

  h2 {
    font-family: $serif;
    font-size: 40px;
    margin: 25px 0;
    font-weight: 400;
  }

  h3 {
    font-family: $serif-text;
    font-size: 20px;
    margin-top: 52px;
  }

  h6 {
    font-weight: 400;
    color: $gray-dark;
    font-style: italic;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  img {
    width: 100%;

    @include mq($tablet) {
      margin-top: 52px;
    }
  }

  p.third {
    @extend .third;
    margin-left: 0;
  }

  p.half {
    @extend .half;
    margin-left: 0;
  }

  p.full {
    @extend .full;
  }

  p.right {
    @extend .right;
  }

  blockquote {
    width: 70%;
    font-style: italic;
    border-left: 1px solid black;
    padding: 0;
    margin-left: auto;
    margin-right: 0;

    p {
      margin: 0;
      padding-left: 40px;
      width: auto;
    }
  }
}
