// Writing landing page

$entry-size: 60px;
$entry-height: $entry-size * 1.55;
$entry-middle: $entry-height / 2;

.writing-listing {
  padding: 20%;
  text-align: center;
  font-family: "BioRhyme Expanded";
  text-transform: uppercase;
  letter-spacing: 1px;

  ol {
    list-style: none;
    padding: 0;
  }

  li {
    font-size: $entry-size;
    position: relative;

    &:hover {
      transition: 0.3s ease;
    }

    &:hover a {
      color: $white;
    }

    &:after {
      width: 104%;
      content: "";
      height: 0;
      background-color: $black;
      position: absolute;
      top: $entry-middle;
      left: -2%;
      z-index: -1;
      transition: 0.2s ease;
    }

    &:hover:after {
      height: $entry-height;
      top: 0px;
      transition: 0.2s ease;
    }
  }
}

// nav

.writing-nav {
  position: absolute;
  top: 40px;
  left: 40px;
  font-style: italic;
  font-size: 12px;

  a {
    margin-left: 0;
    color: #777;
    transition: $timing;
  }

  a:hover {
    margin-left: -3px;
    color: $black;
    transition: $timing;
  }
}

// one

.one {
  margin: 0 auto;
  padding: 15%;
  max-width: 750px;
  font-family: "BioRhyme Expanded";

  h1 {
    font-size: 100px;
  }

  p {
    font-size: 18px;
    font-family: $monospace;
  }
}
