---
title: Amanda Pinsker | Designer
tag: Ain't No Sunshine
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container project_img-container--large">
            <iframe width="940" height="705" src="http://www.youtube.com/embed/YWBdxynZ2lQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="project_text-container">
            <p class="project_text">Kinetic typography video made for the song "Ain't No Sunshine" by Bill Withers. Click <a href="http://youtu.be/YWBdxynZ2lQ" target="_blank">here</a> to view on YouTube. The video works preliminarily to accurately time all words to the lyrics to ensure that the viewer is comfortable and that the video makes sense. Next, the video deals with hierarchy, making the most important words larger. Next, it deals with motion, using a system that reinforces the timing and hierarchy.The video works preliminarily to accurately time all words to the lyrics to ensure that the viewer is comfortable and that the video makes sense. Next, the video deals with hierarchy, making the most important words larger.
            <p class="project_text"> Next, it deals with motion, using a system that reinforces the timing and hierarchy. The most important words simply appear, and the connecting words slide into frame on cue. Lastly, the atmosphere of the song is considered using a system of dynamic background color. The colors change according to the swells and dips of the song. The same colors are used repeatedly to give the viewer a sense of the song's form. An entirely different system is used for the bridge, which uses a different form and instrumentation, and therefore calls for a new, more commanding visual.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
