---
title: Amanda Pinsker | Designer
tag: Anonymous Was A Woman
type: project
layout: base
---


<section class='site-container'>
    
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/awaw7.jpg"/>
            <!-- <h5 class="project_img-caption">Customer dashboard, desktop and mobile</h5> -->
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">The Cause</h3>
            <p class="project_text col4">Anonymous Was A Woman is challenging the biases we all have about women in history. It is based on the quote by Virgina Woolf, “I would venture to guess that Anon, who wrote so many poems without signing them, was often a woman.” Given an accomplishment or quote without a source, we often assume it should be attributed to a man. The campagin argues that this is a disservice to both human history and women today.</p>
            <!-- <h3 class="project_subhead">Call to Action</h3> -->
            <p class="project_text col4">Anonymous Was A Woman is targeting educated adults who would not think of themselves as having this bias, but still do. Anonymous Was A Woman’s name comes from an often shared shortened version of the Virginia Woolf quote: “For most of history, anonymous was a woman.” The name succinctly summarizes the purpose of the campaign.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/awaw14.jpg"/>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/awaw15.jpg"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Series 1</h3>
            <p class="project_text col4">The first piece of the campaign is a series of printed materials that work in pairs. This series is based in forgotten women’s accomplishments. Their forgotten nature renders them anonymous. In the  rst panel, the redaction bars and silhouette set up the neutral mood. The only information the viewer is given is the masculine sounding accomplishment. In the second panel, the bars are removed and the silhouette is  lled in, revealing that the accomplishment belongs to a woman.</p>
            <p class="project_text col4">In context, the pairs would never appear directly next to each other. This is to adequately time the reveal and make sure the meaning is felt. The viewer must process the set up before the reveal can make any impact. The  ip of this page is one example of how this can be accomplished.</p>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw8.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw9.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw10.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw11.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw12.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw13.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw16.jpg"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/awaw17.jpg"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Series 1: In Context</h3>
            <p class="project_text col4">These posters would be placed in contexts where the reveal would be achievable and organic. One would be around the corner of an o ce hallway. The reveal would happen as the viewer turned the corner. Another placement would be in magazines, such as Time, or other intellectual journals that our ideal audience would be reading. The reveal would happen as the viewer turned the page.</p>
        </div>
        <div class="project_img-container col7">
            <img class="project_img" src="/img/full/awaw21.jpg"/>
        </div>
        <div class="project_img-container col5">
            <img class="project_img" src="/img/full/awaw22.jpg"/>
            <img class="project_img" src="/img/full/awaw23.jpg"/>
        </div>

    </section>

    <section class="project-section">
        <div class="project_text-container col12">
            <h3 class="project_subhead">Series 2</h3>
            <p class="project_text col4">The next piece is based in the context of a street sidewalk. A series of posters would be hung next to each other. The middle panels would show quotes with the names blocked out, never revealed. The  rst panel is the campaign logo, and the last panel is the Virginia Woolf quote. Her name is not blocked out to make it visually stand out from the rest. The  rst and last panel give the middle ones context. They are anonymous quotes that could be women, but most will assume otherwise.</p>
            <p class="project_text col4">As people walk by, they can understand the meaning from either direction. This could be placed by college campuses or any populous area, as the campaign has a relatively broad audience.</p>
        </div>
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/awaw18.jpg"/>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw1.jpg"/>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw2.jpg"/>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw3.jpg"/>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw4.jpg"/>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw5.jpg"/>
        </div>

        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/awaw7.jpg"/>
        </div>
    </section>


    {% include footer.html %}
</section>

