---
title: Amanda Pinsker | Designer
name: Baudelaire
type: project
layout: base
---


<section class='site-container'>
    {% include navigation.html %}
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/baudelaire1.png"/>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">I designed a typeface for my Typography 3 class at Northeastern University. We were tasked with designing a typeface that could be used for body copy at 7pt. We were allowed a lot of freedom in what we wanted our typeface to be.</p>
            <p class="project_text col4">After some sketching to figure out where my interests lied, I decided to design a more modern transitional serif that could work on screens.</p>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/baudelaire3.png"/>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/baudelaire2.png"/>
        </div>

    </section>
</section>

<img class="project_img" src="/img/full/baudelaire4.png"/>

<section class='site-container'>
    <section class="project-section">
        <div class="project_text-container col12">
            <p class="project_text col4">As the typeface came together, from capitals, to lowercase, to punctuation, to metrics, its personality formed. It started reminding me of something you'd see in a childhood scary story. I named it after my favorite character from my favorite childhood books: Violet Baudelaire from A Series of Unfortunate Events.</p>
        </div>
    </section>
    {% include footer.html %}
</section>

