---
title: Amanda Pinsker | Designer
tag: Blurr
type: project
layout: base
---


<section class='site-container'>
    
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/blurr1.png"/>
            <!-- <h5 class="project_img-caption">Customer dashboard, desktop and mobile</h5> -->
        </div>
        <div class="project_text-container col8">
            <h3 class="project_subhead">The Challenge</h3>
            <p class="project_text col6">Blurr is a location based photo sharing app that helps you never lose a photo again. I lead a team of three student designers in designing Blurr's brand, app, and landing page. When you're out with friends, you may never see all the photos taken that night.</p>
            <p class="project_text col6">Different people are all taking their own photos, some may never see the light of day. With Blurr, if you're in the same place at the same time, you'll be able to see all the photos taken around you. During a session, the app pulls in the photos of other Blurr users being taken in the radius you set. After you end a session, the photos are available to be viewed and saved for 24 hours.</p>
        </div>
        <div class="project_text-container col4">
            <h3 class="project_subhead">My role</h3>
            <p class="project_text col12">As design lead, I handled client communication and project management, but also owned a large portion of the design work. I owned most of the branding portion of the project. The team worked collaboratively on the UX, and the UI direction was established by myself and iterated on by the team.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/blurr-personas.png"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Personas and Flows</h3>
            <p class="project_text col4">Before jumping into wireframing, we explored our ideas of who would use this app, when they would use it, and why they would use it. At the start, we were considering three different kinds of users: active users, passive users, and hosts.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/blurr2.png"/>
            <h5 class="project_img-caption">Early wireframes</h5>
        </div>
        <div class="project_text-container project_text-container--blurr col6">
            <h3 class="project_subhead">Wireframing</h3>
            <p class="project_text col8">We all wanted this experience to be as easy and intuitive as possible. However, we were also balancing concerns about privacy and low numbers of users for the MVP. We originally presented the Blurr team a few options that solved some of the privacy concerns we had, like creating sessions, or only letting Facebook friends see your photos. The Blurr team wanted as many photos as possible accessible in the first version of the app to combat the low number of users at the start. In the end, we landed on a solution that opened the experience up to as many users as possible.</p>
        </div>
    </section>

    <section class="project-section">

        <div class="project_text-container col6">
            <h3 class="project_subhead">Main Screens</h3>
            <p class="project_text">The experience is simple. A user clicks start to begin a session, then sets their radius to begin "blurring." This session continues in the background, pulling in photos around you and compiling them into a feed, which you can sort between all photos, your Facebook friends, and your own photos. When you're done, you can end your session, and the photos are available from the start screen for 24 hours.</p>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/blurr.gif"/>
            <h5 class="project_img-caption">Main Screens</h5>
        </div>
    </section>

    <section class="project-section">

        <div class="project_text-container col12">
            <h3 class="project_subhead">Connecting screens and edge cases</h3>
            <p class="project_text col4">As we got into the detailed design of the app, we prototyped along the way. This allowed us to consider the full experience of the app, and allowed us to expose many cases that we may have missed otherwise, such as error states, empty states and microinteractions.</p>
        </div>

        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr14.png"/>
            <h5 class="project_img-caption">Accessing an expiring blurr</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr17.png"/>
            <h5 class="project_img-caption">Adding a photo to the feed</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr18.png"/>
            <h5 class="project_img-caption">Successfully added photo</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr20.png"/>
            <h5 class="project_img-caption">Error adding photo</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr23.png"/>
            <h5 class="project_img-caption">Handling multiple expiring blurrs</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr26.png"/>
            <h5 class="project_img-caption">Empty state for the feed</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr27.png"/>
            <h5 class="project_img-caption">Viewing a single photo</h5>
        </div>
        <div class="project_img-container col3" >
            <img class="project_img" src="/img/full/blurr28.png" style="border: 1px solid #AAA"/>
            <h5 class="project_img-caption">Settings</h5>
        </div>



    </section>

    <section class="project-section">
        <div class="project_text-container col12">
            <h3 class="project_subhead">Onboarding</h3>
            <p class="project_text col4">One challenge we iterated on was the onboarding experience. We designed a way to explain the app in a series of steps, then requesting critical permissions for the app to function.</p>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr3.png"/>
            <h5 class="project_img-caption">Onboarding</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr5.png"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr6.png"/>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/blurr7.png"/>
        </div>

    </section>




    {% include footer.html %}
</section>

