---
title: Amanda Pinsker | Designer
tag: Broadway Bites
type: project
layout: base
---


<section class='site-container'>
    
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col7">
            <img class="project_img" src="/img/full/bway4.jpg" />
        </div>
        <div class="project_img-container col5">
            <img class="project_img" src="/img/full/bway1.jpg" />
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">Table decal designed for Broadway Bites food market in Greeley Square, NYC. Designed to add a fun, delightful experience to the market's existing branding and signage. Under the existing branding Tiny Rebels had already developed, I was given sketches to create a decal for the tables at the market. I arranged various icons into a "placemat." In arranging everything, I thought of this as an interactive experience. I envisioned someone eating at this table, putting their food on the plate icon, and their drink on a drink icon.</p>
            <p class="project_text col4"> I made sure there was a drink next to each plate. I came across this Instagram post while searching the hashtag for the market, #bwaybites. It was a treat finding a stranger using the table exactly in the way it was intended. (Excuse their language!)</p>
        </div>
        <div class="project_img-container col7">
            <img class="project_img"  src="/img/full/bway2.jpg" />
        </div>
        <div class="project_img-container col5">
            <img class="project_img"  src="/img/full/bway3.png" />
        </div>

    </section>
    {% include footer.html %}
</section>
