---
title: Amanda Pinsker | Designer
tag: Device Reimagined
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" class="col7" src="/img/full/device1.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" class="col7" src="/img/full/device2.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" class="col7" src="/img/full/device3.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">A record player reimagined as an iPhone device, accompanied by an app. The device asks the user to slow down their interactions with music, and to experience a sense of tangibility that we have lost in the transition from vinyl to mp3 format. The device attaches onto the bottom of the phone, with a turntable arm, but instead of a needle, the device would have a stylus. The arm would have full access of the device, achieved by an extendable arm.</p>
            <p class="project_text">  The device would have a corresponding app that allows you to select the music the user wants to listen to.In order for the song, playist, or album to play, the user must place the needle on a randomly placed dot, to replicate the feeling and experience of placing a needle on a vinyl record. The experience of precicely placing the needle allows the user to slow down their listening and make their experience more deliberate and tangible.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
