---
title: Amanda Pinsker | Designer
tag: Human Ventures
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section  class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/hvc1.png" />
            <h5 class="project_img-caption">Landing page</h5>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">Human Ventures is a venture capitalist firm interested in helping start ups. They wanted a landing page that emphasized an elite, authoritative style. We wanted to give the viewer an immersive, interesting experience to lead them to contacting the firm. I helped with the branding identity, experience and design of the website.</p>
        </div>
    </section>
    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/hvc2.gif" />
            <h5 class="project_img-caption">Direction A</h5>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/hvc3.gif" />
            <h5 class="project_img-caption">Direction B</h5>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Sketching animations</h3>
            <p class="project_text col4">We began by making animations for how we saw the website unfolding via the scroll bar. We were interested in a black, white and gold palette and an elegant, yet exciting feel.</p>
        </div>
    </section>
    <section class="project-section">
        <div class="project_img-container col6">
            <a href="/img/full/hvc4.jpg" target="_blank"><img class="project_img" src="/img/full/hvc4.jpg" /></a>
            <h5 class="project_img-caption">Developing layout</h5>
        </div>
        <div class="project_img-container col6">
            <a href="/img/full/hvc5.jpg" target="_blank"><img class="project_img" src="/img/full/hvc5.jpg" /></a>
            <a href="/img/full/hvc6.jpg" target="_blank"><img class="project_img" src="/img/full/hvc6.jpg" /></a>
            <a href="/img/full/hvc7.jpg" target="_blank"><img class="project_img" src="/img/full/hvc7.jpg" /></a>
            <a href="/img/full/hvc8.jpg" target="_blank"><img class="project_img" src="/img/full/hvc8.jpg" /></a>
            <h5 class="project_img-caption">Logo ideas</h5>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Developing the design</h3>
            <p class="project_text col4">We quickly moved into a layout with a hero at the top, moving into blurbs animating into the same spot on the screen, a contrasting takeover, leading into the CTA button at the bottom. We explored a lot of options for the logo treatment.</p>
        </div>
    </section>
    <section class="project-section">
        <div class="project_img-container col4">
            <a href="/img/full/hvc9.jpg" target="_blank"><img class="project_img" src="/img/full/hvc9.jpg" /></a>
            <h5 class="project_img-caption">Color, hero and logo options</h5>
        </div>
        <div class="project_img-container col4">
            <a href="/img/full/hvc10.jpg" target="_blank"><img class="project_img" src="/img/full/hvc10.jpg" /></a>
        </div>
        <div class="project_img-container col4">
            <a href="/img/full/hvc11.jpg" target="_blank"><img class="project_img" src="/img/full/hvc11.jpg" /></a>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">Next, we explored further options for the logo treatment, accent color, and header image. The client wanted to emphasize humans doing great things, so we emphasized the juxtaposition between active people in a powerful environment.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col8">
            <a href="/img/full/hvc12.jpg" target="_blank"><img class="project_img" src="/img/full/hvc12.jpg" /></a>
            <h5 class="project_img-caption">Phase 2: Added about page</h5>
        </div>
        <div class="project_img-container col4">
            <a href="/img/full/hvc13.jpg" target="_blank"><img class="project_img" src="/img/full/hvc13.jpg" /></a>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">One last thing</h3>
            <p class="project_text col4">We later added pages to the navigation. We included a news tab, which lead to a branded Medium blog page, and an about page.</br></br>In the end, we gave the client a powerful landing page to attract the people that he wanted to invest in.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
