---
title: Amanda Pinsker | Designer
tag: Instruments
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/cello2.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">Select pieces from a fine art concentration on musical instruments.</br></br>The series is completed in a variety of materials, including colored pencil, scratchboard and oil pastel. I focused on creating interesting compositions and on pushing the colors I saw in what I was drawing. The theme of repetition runs throughout the series.</p>
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/img/full/amps2.png" />
            <img class="project_img" src="/img/full/guitar2.png" />
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/img/full/piano2.png" />
            <img class="project_img" src="/img/full/cymbal3.png" />
        </div>
    </section>

    {% include footer.html %}
</section>
