---
title: Amanda Pinsker | Designer
tag: One Grid Candle Co.
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/candle1.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">A major client during my internship at Tiny Rebels was One Grid. One Grid sells candles, and for each candle purchased, they donate a solar light to a family in need. We developed their branding, and designed all printed materials, along with their website. The client recently changed their name so some materials may feature the old logo.</p>
        </div>
        </div>
    </section>
    <section class="project-section">
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/candle2.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/candle3.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/candle4.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">The logo was established just before I was hired. My first task was to design the label for the candles. The client wanted to include a section about the fragrance, a section about the company, information about the country, a tagline, and the candle specs.</p>
            <p class="project_text">The design fits with the visual identity we created, and all of the different fragrances together use a color palette that we established. The design balances emphasizing the charitable work the company is setting out to do with appealing to candle lovers. Photos of the finished candle are coming soon.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/img/full/one2.jpg" />
            <img class="project_img" src="/img/full/one6.jpg" />
        </div>
        <div class="project_img-container project_img-container--med">
            <img class="project_img" src="/img/full/one3.jpg" />
            <img class="project_img" src="/img/full/one4.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">For their website, we started out with wireframing. We decided early on the best solution would be one long scrolling page. The different sections we thought we would need changed over and over again, but the bulk of the website is for consumers to purchase the candles, or to sign up for a membership to be sent candles on a schedule. We spent a long time estabishing and making sure there was a clear hierarchy and navigation. We were sure to design responsively for tablet and mobile in addition to desktop. The website is not finalized, so what you see here is still missing some images, and includes some placeholder images and text.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
