---
title: Amanda Pinsker | Designer
tag: Posters
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/broadside5.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">Various poster work. </br></br>Showcasing the typeface, Meta. The challenge was to present the history and feel of a chosen typeface at a large scale. The broadside showcases the elegant, humanistic feel of Meta, and that is best captured by the typeface's lowercase "g." Looking further, the viewer then can inspect the character set, characteristics of the typface, and a history of the typeface. All elements were carefully laid out on the page to create a dynamic composition and colors were chosen to create a deliberate relationship between figure and ground.</p>
        </div>
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/doas4.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">Poster designed for "Death of a Salesman."  The orange peel is inspired by the line, "You can’t eat the orange, and throw the peel away – a man is not a piece of fruit." The story of "Death of a Salesman" details the decline of the main character, Willy Loman. The orange peel is meant to represent this decline. The type treatment of the title and author is meant to mimic the movement of the orange peel.</p>
        </div>
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/futurism4.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">The Futurist Manifesto typeset in the style of the Futurism Movement. The project works to make the content of the message show though the design, and does so through systematically breaking typographic rules. The message is loud, unconventional, and harsh, therefore, so is the design.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
