---
title: Amanda Pinsker | Designer
tag: 1960s Ads and Culture
type: project
layout: base
---


<section class='site-container'>

    {% include project-info.html %}
    <div class="project-section">
        <div class="project_img-container project_img-container--full">
            <img class="project_img" src="/img/full/sixties1.jpg" />
        </div>
        <div class="project_text-container">
            <p class="project_text">Two different topics designed to exist on the same page. I used different visual systems to convey their meaning and make them stand apart from each other. Running on the top is 1960s Advertising, set in Century Expanded, a typeface used commonly in the imagery.
            <p class="project_text">Along the bottom is 1960s Psychedelic Culture, set in Futura, another typeface from the period chosen to contrast the funky, psychedelic posters.</p>
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/sixties4.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/sixties5.jpg" />
        </div>
        <div class="project_img-container project_img-container--xs">
            <img class="project_img" src="/img/full/sixties6.jpg" />
        </div>
        <div class="project_img-container project_img-container--sm">
            <img class="project_img" src="/img/full/sixties2.jpg" />
        </div>
        <div class="project_img-container project_img-container--large">
            <img class="project_img" src="/img/full/sixties3.jpg" />
        </div>
    </div>
    {% include footer.html %}
</section>
