---
title: Amanda Pinsker | Designer
tag: Tastemakers Magazine
type: project
layout: base
---


<section class='site-container'>
    
    {% include project-info.html %}

    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/tastemakers1.jpg"/>
            <h5 class="project_img-caption">Tastemakers issue covers</h5>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">I, along with my co-art director, am in charge of a team of student designers. We follow a style guide to keep the magazine consistent and cohesive. Each designer on the team designs a spread which is critiqued by the group. We then combine the team's spreads into the final magazine.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/tastemakers2.jpg"/>
            <!-- <h5 class="project_img-caption">Tastemakers issue covers</h5> -->
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/tastemakers3.jpg"/>
            <!-- <h5 class="project_img-caption">Tastemakers issue covers</h5> -->
        </div>
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/tastemakers4.jpg"/>
            <!-- <h5 class="project_img-caption">Tastemakers issue covers</h5> -->
        </div>
    </section>

    {% include footer.html %}
</section>
