---
title: Amanda Pinsker | Designer
tag: Transforming Medicine
type: project
layout: base
---

<section class='site-container'>
    
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/tmed1.jpg" />
            <h5 class="project_img-caption">Landing page</h5>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">Transforming Medicine is a nonprofit dedicated to changing how cancer patients are diagnosed and treated. Ronik was hired to do their branding and website. I helped to design key features of the final website, spent a lot of time working on the mobile version, and worked closely with the branding portion of the project.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed3.jpg" />
            <h5 class="project_img-caption">Mission page</h5>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed5.jpg" />
            <h5 class="project_img-caption">About page</h5>
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed6.jpg" />
            <h5 class="project_img-caption">Media page</h5>
        </div>

        <div class="project_text-container col12">
            <h3 class="project_subhead">Designing the website</h3>
            <p class="project_text col4">We began by working off of initial directions designed by the design directors. Our challenges were to make the text heavy pages visually interesting, and how to lead users through the site. We focused on a footer that would not be a dead end, and would also hold the call to action to sign up for the email list.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed8.jpg" />
            <h5 class="project_img-caption">Working mobile screens</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed10.jpg" />
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed9.jpg" />
        </div>
        <div class="project_img-container col3">
            <img class="project_img last" src="/img/full/tmed13.jpg" />
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Designing for mobile</h3>
            <p class="project_text col4">Considering the text heavy pages we had, we spent a lot of time making sure the text was comfortable to read on mobile. We also dealt with challenges such as how the home screen would function, and how the subnavigation would work. </p>
        </div>
    </section>
    <section class="project-section">
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed11.jpg" />
            <h5 class="project_img-caption">Different footer treatments</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed12.jpg" />
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed14.jpg" />
        </div>
        <div class="project_img-container col3">
            <img class="project_img last" src="/img/full/tmed15.jpg" />
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Designing the footer for mobile</h3>
            <p class="project_text col4">A challenge that we iterated on was the mobile footer. We played around with what the buttons to the other pages could look like, and how big they would need to be. After spending some time on it, we decided to leave the buttons out, as we had a sticky header that would make the navigation always available.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed24.jpg" />
            <h5 class="project_img-caption">Direction A</h5>
        </div>
        <div class="project_img-container col8">
            <img class="project_img" src="/img/full/tmed25.jpg" />
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed30.jpg" />
            <h5 class="project_img-caption">Direction B</h5>
        </div>
        <div class="project_img-container col8">
            <img class="project_img" src="/img/full/tmed31.jpg" />
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed29.jpg" />
            <h5 class="project_img-caption">Direction C</h5>
        </div>
        <div class="project_img-container col8">
            <img class="project_img" src="/img/full/tmed28.jpg" />
        </div>


        <div class="project_text-container col12">
            <h3 class="project_subhead">Early logos</h3>
            <p class="project_text col4">As the website was being designed, we were also sketching logos. The client wanted a light and airy mark that evoked the ideas of science and big data. The logo was also influenced by the natural imagery we were gravitating towards for the headers.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed36.jpg" />
            <h5 class="project_img-caption">Final Direction A</h5>
        </div>
        <div class="project_img-container col8">
            <img class="project_img" src="/img/full/tmed37.jpg" />
        </div>
        <div class="project_img-container col4">
            <img class="project_img" src="/img/full/tmed34.jpg" />
            <h5 class="project_img-caption">Final Direction B</h5>
        </div>
        <div class="project_img-container col8">
            <img class="project_img" src="/img/full/tmed35.jpg" />
        </div>
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/tmed38.jpg" />
            <h5 class="project_img-caption">Final branding</h5>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">The final branding</h3>
            <p class="project_text col4">The final logo is geometric, light and considers the idea of change. The logo is presented on organic photography that are semi-abstract images of nature.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col9">
            <img class="project_img" src="/img/full/tmed17.jpg" />
            <img class="project_img" src="/img/full/tmed16.jpg" />
            <img class="project_img" src="/img/full/tmed18.jpg" />
            <h5 class="project_img-caption">Final desktop screens</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/tmed19.jpg" />
            <h5 class="project_img-caption">Home screen</h5>
            <img class="project_img" src="/img/full/tmed20.jpg" />
            <h5 class="project_img-caption">Open sub navigation</h5>
            <img class="project_img" src="/img/full/tmed21.jpg" />
            <h5 class="project_img-caption">Final footer direction</h5>
            <img class="project_img" src="/img/full/tmed22.jpg" />
            <h5 class="project_img-caption">Mission screen</h5>
            <img class="project_img" src="/img/full/tmed23.jpg" />
            <h5 class="project_img-caption">Navigation mid-scroll</h5>

        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">The final website</h3>
            <p class="project_text col4">Through lots of tweaking type and debating header images, we designed a website that presented Transforming Medicine's cause in an inspiring and engaging way.</p>
        </div>
    </section>
    {% include footer.html %}
</section>
