---
title: Amanda Pinsker | Designer
tag: Wellthy
type: project
layout: base
---

<section class='site-container'>
    
    {% include project-info.html %}
    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/wellthy1.jpg"/>
            <h5 class="project_img-caption">Customer dashboard, desktop and mobile</h5>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">Wellthy is a service aiming to provide assistance to adult children overwhelmed with caring for a sickly parent. Wellthy provides their clients with a health planner who can assist with tasks such as finding reputable doctors, making appointments, coordinating between hospitals, or arranging transportation.</p>
            <p class="project_text col4">Ronik assisted with providing a web application for the health planner to easily manage and communicate updates to their customers. This would easily keep all of their information in one place, prevent confusion, and make communication more streamlined. I was part of the UX and design team and helped hash out functionality and UI design decisions.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy3.jpg"/>
            <h5 class="project_img-caption">Page flows</h5>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy10.png"/>
            <img class="project_img" src="/img/full/wellthy11.png"/>
            <h5 class="project_img-caption">Wireframes: home page, onboarding</h5>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Flows and Wireframing</h3>
            <p class="project_text col4">The flow is relatively simple. The health planner and the customer have different views of the same information, along with an account settings page. The health planner also needed a screen to view all of their customers. We were also tweaking a few links on their home page, such as the addition of a login button, and polishing their onboarding screens. We had to account for the period of time when a customer is signed up but not assigned to a health planner yet.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy7.png"/>
            <img class="project_img" src="/img/full/wellthy8.jpg"/>
            <img class="project_img" src="/img/full/wellthy9.jpg"/>
            <h5 class="project_img-caption">Wireframes: customer views</h5>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy4.png"/>
            <img class="project_img" src="/img/full/wellthy5.jpg"/>
            <img class="project_img" src="/img/full/wellthy6.jpg"/>
            <h5 class="project_img-caption">Wireframes: health planner views</h5>
        </div>
        <div class="project_text-container col12">
            <p class="project_text col4">The customer sees a dashboard with information about their health planner, contact information, and updates. Updates are marked as unread or read, with a timestamp. The customer can also view a description of what their health planner can do for them. The health planner dashboard allows them to post updates, view information about the patient that the customer entered during onboarding, and the customer contact information. The health planner can see if the customer has read their update. They can also edit the patient's current "care priorities."</p>
            <p class="project_text col4">Account settings for both function in the same manner. The user can click on a pencil icon to update a single item, instead of sending the whole form each time something needs to be updated.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col9">
            <img class="project_img" src="/img/full/wellthy14.jpg"/>
            <h5 class="project_img-caption">Designs: health planner dashboard</h5>
        </div>
        <div class="project_img-container col3">
            <img class="project_img" src="/img/full/wellthy15.jpg"/>
            <h5 class="project_img-caption">Designs: customer account settings</h5>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Adding Visual Design</h3>
            <p class="project_text col4">Moving into the design phase was simple, considering the simple and clean style the client desired. We applied their brand blue for interactive elements, also using yellow and red for preferences and error states. We didn't wireframe for mobile and instead figured out the challenges for mobile through the design phase.</p>
        </div>
    </section>

    <section class="project-section">
        <div class="project_img-container col12">
            <img class="project_img" src="/img/full/wellthy16.png"/>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy17.png"/>
            <h5 class="project_img-caption">Designs: community manager screens</h5>
        </div>
        <div class="project_img-container col6">
            <img class="project_img" src="/img/full/wellthy18.png"/>
        </div>
        <div class="project_text-container col12">
            <h3 class="project_subhead">Adding administration tools</h3>
            <p class="project_text col4">Lastly, we added a flow for a "community manager" to be able to view all health planners and their customers.</p>
            <p class="project_text col4">In the end, we created a clearly designed system that would make their employees' and customers' lives easier, and would be easy for Wellthy to expand as their company grew.</p>
        </div>
    </section>


    {% include footer.html %}
</section>
