---
title: Amanda Pinsker | Reading
name: reading
layout: reading
permalink: reading
---

<div class="reading-nav">
  <a href="/">Back</a>
</div>

<section class="reading-container">
  <h1 class="book-title book-scroll">Things I've read and where I read them<a href="#hey"><span>*</span></a></h1>

  {% for item in site.data.reading %}
    <div class="book" id="{{ item.url }}">
      <h2 class="date book-scroll">
        <a href="#{{ item.url }}">{{ item.date }}</a>
      </h2>
      <span class="pic-container">
        <img class="book-img book-scroll" src="{{ item.book_img }}" />
        <img class="pic-img book-scroll" src="{{ item.pic_img }}" />
      </span>

      <span class="info">
        <h3 class="author book-scroll">{{ item.author }}</h3>
        <h2 class="title book-scroll">{{ item.title }}
          <span>{{ item.place }}</span>
        </h2>
        <p class="description book-scroll"> {{ item.description }}</p>
        {% if item.highlight %}
          <span class="highlight book-scroll no-quote">
            <h5>Underlined</h5>
            <h6>{{ item.highlight }}</h6>
          </span>
        {% endif %}
      </span>
    </div>
  {% endfor %}
</section>

<div id="hey">* Are these dates real? Are these locations real? Who cares? Why did you even click on this? Go <a href="/reading">get back</a> to what you were doing.</div>
