---
title: Amanda Pinsker | Reading
name: reading
layout: reading
permalink: reading
---

<div class="reading-nav">
  <a href="/">Back</a>
</div>

<section class="reading-container">
  <h1 class="book-title book-scroll">Books I've read
    <span>and where I read them</span><a href="#hey">*</a>
  </h1>

  {% for item in site.data.reading %}
    <div class="book" id="{{ item.url }}">
      <h2 class="date book-scroll">
        <a href="#{{ item.url }}">{{ item.date }}</a>
      </h2>
      <span class="pic-container">
        <img class="book-img book-scroll" src="{{ item.book_img }}" alt="Cover of {{ item.title }}"/>
        {% if item.pic_img %}
          <img class="pic-img book-scroll" src="{{ item.pic_img }}" alt="Picture {{ item.place }}"/>
        {% endif %}
        {% if item.video %}
          <video width="330" height="440" class="pic-img" autoplay>
            <source src="{{ item.video }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        {% endif %}
      </span>

      <span class="info">
        <h2 class="title book-scroll">{{ item.title }}
          <span>{{ item.place }}</span>
        </h2>
        <p class="description book-scroll"> {{ item.description }}</p>
        {% if item.highlights %}
          <span class="highlight book-scroll no-quote">
            <h5>Underlined</h5>
            {% for highlight in item.highlights %}
            <h6>{{ highlight }}</h6>
            {% endfor %}
          </span>
        {% endif %}
      </span>
    </div>
  {% endfor %}
</section>

<div id="hey">* Are these dates real? Are these locations real? Who cares? Why did you even click on this? Go <a href="/reading">get back</a> to what you were doing.</div>
