<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Amanda Pinsker is a product and interaction designer who cares about making her work smart, elegant, and simple by design.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/favicon.png" >
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/nxa2uwt.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Karla:400,700|BioRhyme+Expanded|Inknut+Antiqua|Poppins' rel='stylesheet' type='text/css'>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68403581-1', 'auto');
      ga('send', 'pageview');

    </script>

  </head>
  <body class="portfolio">

  {{ content }}

  {{ scripts }}

  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <!-- endbuild -->
  <script>
    sr.reveal('.homepage__thumbnail');
    sr.reveal('.project_img');
    sr.reveal('.project_text-container');
    sr.reveal('footer');
    sr.reveal('.project-info');
    sr.reveal('header');
    sr.reveal('.about__topper');
    sr.reveal('.about-info');
    sr.reveal('.homepage__header');
    sr.reveal('.book-scroll');

  </script>


  </body>
</html>
